set realname="{{ ansible_facts.hostname }}"
{% if mutt_use_fqdn %}
set from="{{ mutt_from_user }}@{{ ansible_facts.hostname }}.{{ domain }}"
{% else %}
set from="{{ mutt_from_user }}@{{ domain }}"
{% endif %}
